---
const { title = "Complexo Mais Ativo", description = "" } = Astro.props;
import '@/styles/global.css';
---
<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      as="style" onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"      
    /></noscript>
    
  </head>
  <body class="bg-white text-gray-800 antialiased">
    <slot />
  </body>
</html>
